<!DOCTYPE html>
<html ng-app="transferForm">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Add Transaction</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="assets/css/Simple-Login-1.css">
    <link rel="stylesheet" href="assets/css/Simple-Login.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/untitled-1.css">
    <link rel="stylesheet" href="assets/css/untitled-2.css">
    <link rel="stylesheet" href="assets/css/untitled-3.css">
    <link rel="stylesheet" href="assets/css/untitled.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="assets/js/moments.js"></script>
    <script src="assets/angular/transferForm.js"></script>
</head>

<body style="background-color: rgb(255,255,255);color: rgb(255,255,255); display: none;">
<script>
    $(function(){
        $("#header").load("shared/header.html",function() {
            $("#footer").load("shared/footer.html",function() {
                $('body').show();
            });
        });
    });
</script>
<div id="header"></div>
<div class="table-responsive table-bordered" style="padding: 0px;margin: 0px;padding-right: 50px;padding-left: 50px;" ng-controller="submitController">
    <table class="table table-bordered">
        <thead style="background-color: #7e7e7e;">
        <tr>
            <th class="text-center" style="color: rgb(255,255,255);font-size: 20px;">Detail</th>
            <th class="text-center" style="color: rgb(255,255,255);font-size: 20px;">Input</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td style="color: rgb(0,0,0);">Transfer Type</td>
            <td class="text-center" style="color: rgb(0,0,0);margin: 0px;">
                <form class="form-inline">
                    <div class="form-group">
                        <select class="form-control" name="transferType" id="transferType" ng-model="transObj.transferType">
                            <option>Account</option>
                            <option>Bucket</option>
<!--                            <option>Area</option>-->
                        </select>
                    </div>
                </form>
            </td>
        </tr>
        <tr>
            <td style="color: rgb(0,0,0);">Value</td>
            <td class="text-center" style="color: rgb(0,0,0);"><input class="border rounded-0" type="text"
                                                                      required="" name="value" id="value" ng-model="transObj.value">
            </td>
        </tr>
        <tr ng-show="transObj.transferType === 'Account'">
            <td style="color: rgb(0,0,0);">Account From</td>
            <td class="text-center" style="color: rgb(0,0,0);margin: 0px;">
                <form class="form-inline">
                    <div class="form-group">
                        <select class="form-control" name="accountFrom" id="accountFrom" ng-model="transObj.from">
                            <option ng-repeat="option in accounts">{{option.name}}</option>
                        </select>
                    </div>
                </form>
            </td>
        </tr>
        <tr ng-show="transObj.transferType === 'Account'">
            <td style="color: rgb(0,0,0);">Account To</td>
            <td class="text-center" style="color: rgb(0,0,0);margin: 0px;">
                <form class="form-inline">
                    <div class="form-group">
                        <select class="form-control" name="accountTo" id="accountTo" ng-model="transObj.to">
                            <option ng-repeat="option in accounts">{{option.name}}</option>
                        </select>
                    </div>
                </form>
            </td>
        </tr>
        <tr ng-show="transObj.transferType === 'Bucket'">
            <td style="color: rgb(0,0,0);">Bucket From</td>
            <td class="text-center" style="color: rgb(0,0,0);margin: 0px;">
                <form class="form-inline">
                    <div class="form-group">
                        <select class="form-control" name="bucketFrom" id="bucketFrom" ng-model="transObj.from">
                            <option ng-repeat="option in buckets">{{option.name}}</option>
                        </select>
                    </div>
                </form>
            </td>
        </tr>
        <tr ng-show="transObj.transferType === 'Bucket'">
            <td style="color: rgb(0,0,0);">Bucket To</td>
            <td class="text-center" style="color: rgb(0,0,0);margin: 0px;">
                <form class="form-inline">
                    <div class="form-group">
                        <select class="form-control" name="bucketTo" id="bucketTo" ng-model="transObj.to">
                            <option ng-repeat="option in buckets">{{option.name}}</option>
                        </select>
                    </div>
                </form>
            </td>
        </tr>
        <tr ng-show="transObj.transferType === 'Area'">
            <td style="color: rgb(0,0,0);">Area From</td>
            <td class="text-center" style="color: rgb(0,0,0);margin: 0px;">
                <form class="form-inline">
                    <div class="form-group">
                        <select class="form-control" name="areaFrom" id="areaFrom" ng-model="transObj.from">
                            <option ng-repeat="option in areas">{{option}}</option>
                        </select>
                    </div>
                </form>
            </td>
        </tr>
        <tr ng-show="transObj.transferType === 'Area'">
            <td style="color: rgb(0,0,0);">Area To</td>
            <td class="text-center" style="color: rgb(0,0,0);margin: 0px;">
                <form class="form-inline">
                    <div class="form-group">
                        <select class="form-control" name="areaTo" id="areaTo" ng-model="transObj.to">
                            <option ng-repeat="option in areas">{{option}}</option>
                        </select>
                    </div>
                </form>
            </td>
        </tr>
        <tr>
            <td class="text-center" style="color: rgb(0,0,0);" colspan="2">
                <button class="btn btn-primary" ng-click="submitForm()"
                        style="background-color: rgb(0,162,45);height: 60px;width: 90px;font-size: 19px;">Submit
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<div id="footer"></div>

</body>

</html>