<!DOCTYPE html>
<html ng-app="transForm">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Add Transaction</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="assets/css/Simple-Login-1.css">
    <link rel="stylesheet" href="assets/css/Simple-Login.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/untitled-1.css">
    <link rel="stylesheet" href="assets/css/untitled-2.css">
    <link rel="stylesheet" href="assets/css/untitled-3.css">
    <link rel="stylesheet" href="assets/css/untitled.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="assets/js/moments.js"></script>
    <script src="assets/angular/transForm.js"></script>
</head>

<body style="background-color: rgb(255,255,255);color: rgb(255,255,255);">
<nav class="navbar navbar-light navbar-expand-md" style="background-color: #7e7e7e;">
    <div class="container-fluid"><a class="navbar-brand" href="index.html"
                                    style="color: rgba(255,255,255,0.9);">Home</a>
        <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                class="navbar-toggler-icon"></span></button>
        <div
                class="collapse navbar-collapse text-left" id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link active text-left" href="budgetSheet.html"
                                                            style="color: rgba(255,255,255,0.9);">Budget Sheet</a></li>
            </ul>
        </div>
        <li class="dropdown" style="color: rgb(0,0,0);"><a class="dropdown-toggle" data-toggle="dropdown"
                                                           aria-expanded="false" href="#"
                                                           style="color: rgba(255,255,255,0.57);margin: 26px;">Month</a>
            <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="month/Jun.html">June</a><a
                    class="dropdown-item" role="presentation" href="month/Jul.html">July</a><a class="dropdown-item"
                                                                                               role="presentation"
                                                                                               href="month/Aug.html">August</a><a
                    class="dropdown-item"
                    role="presentation" href="month/Sep.html">September</a><a class="dropdown-item" role="presentation"
                                                                              href="month/Oct.html">October</a><a
                    class="dropdown-item" role="presentation" href="month/Nov.html">November</a><a class="dropdown-item"
                                                                                                   role="presentation"
                                                                                                   href="month/Dec.html">December</a><a
                    class="dropdown-item" role="presentation" href="month/Jan.html">January</a><a class="dropdown-item"
                                                                                                  role="presentation"
                                                                                                  href="month/Feb.html">February</a><a
                    class="dropdown-item"
                    role="presentation" href="month/Mar.html">March</a><a class="dropdown-item" role="presentation"
                                                                          href="month/Apr.html">April</a><a
                    class="dropdown-item" role="presentation" href="month/May.html">May</a></div>
        </li>
        <a href="#"><i class="fa fa-cog" style="font-size: 32px;margin: 8px;color: rgb(255,255,255);"></i></a><a
                href="/logout"><i class="fa fa-sign-out"
                                  style="font-size: 32px;margin: 8px;color: rgb(255,255,255);"></i></a></div>
</nav>
<hr style="background-color: #0019ff;margin: 0px;height: 2px;">
<hr>
<div class="table-responsive table-bordered" style="padding: 0px;margin: 0px;padding-right: 50px;padding-left: 50px;" ng-controller="submitController">
    <table class="table table-bordered">
        <thead style="background-color: #7e7e7e;">
        <tr>
            <th class="text-center" style="color: rgb(255,255,255);font-size: 20px;">Detail</th>
            <th class="text-center" style="color: rgb(255,255,255);font-size: 20px;">Input</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td style="color: rgb(0,0,0);">Name/Description</td>
            <td class="text-center" style="color: rgb(0,0,0);"><input class="border rounded-0" type="text"
                                                                      required="" name="name" id="name" ng-model="transObj.name">
            </td>
        </tr>
        <tr>
            <td style="color: rgb(0,0,0);">Date (Today by Default (DD/MM/YYYY))</td>
            <td class="text-center" style="color: rgb(0,0,0);"><input class="border rounded-0" type="date"
                                                                      required="" name="date" id="date" ng-model="transObj.date">
            </td>
        </tr>
        <tr>
            <td style="color: rgb(0,0,0);">Value</td>
            <td class="text-center" style="color: rgb(0,0,0);"><input class="border rounded-0" type="text"
                                                                      required="" name="value" id="value" ng-model="transObj.value">
            </td>
        </tr>
        <tr>
            <td style="color: rgb(0,0,0);">Quantity</td>
            <td class="text-center" style="color: rgb(0,0,0);"><input class="border rounded-0" type="number"
                                                                      value="1"
                                                                      required="" name="quantity" id="quantity" ng-model="transObj.quantity"></td>
        </tr>
        <tr>
            <td style="color: rgb(0,0,0);">Incoming (Leave blank for outgoing)?</td>
            <td class="text-center" style="color: rgb(0,0,0);"><input type="checkbox"
                                                                      style="height: 13px;font-size: 16px;"
                                                                      name="incoming" id="incoming" ng-model="transObj.incoming"></td>
        </tr>
        <tr>
            <td style="color: rgb(0,0,0);">Complete (Untick if payment pending)?</td>
            <td class="text-center" style="color: rgb(0,0,0);"><input type="checkbox" checked="" name="complete"
                                                                      id="complete" ng-model="transObj.complete"></td>
        </tr>
        <tr>
            <td style="color: rgb(0,0,0);">Account Impacted</td>
            <td class="text-center" style="color: rgb(0,0,0);margin: 0px;">
                <form class="form-inline">
                    <div class="form-group">
                        <select class="form-control" name="accountImpacted" id="accountImpacted" ng-model="transObj.accountImpacted">
                            <option>Current Account</option>
                            <option>Credit Account</option>
                        </select>
                    </div>
                </form>
            </td>
        </tr>
        <tr>
            <td class="text-center" style="color: rgb(0,0,0);" colspan="2">
                <button class="btn btn-primary" ng-click="submitForm()"
                        style="background-color: rgb(0,162,45);height: 60px;width: 90px;font-size: 19px;">Submit
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>