<!DOCTYPE html>
<html ng-app="limecashBudgets">

<title>Budget</title>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
<link rel="stylesheet" href="assets/fonts/ionicons.min.css">
<link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
<link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
<link rel="stylesheet" href="assets/css/Simple-Login-1.css">
<link rel="stylesheet" href="assets/css/Simple-Login.css">
<link rel="stylesheet" href="assets/css/styles.css">
<link rel="stylesheet" href="assets/css/untitled-1.css">
<link rel="stylesheet" href="assets/css/untitled-2.css">
<link rel="stylesheet" href="assets/css/untitled-3.css">
<link rel="stylesheet" href="assets/css/untitled.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="assets/angular/angularBudgetSheet.js"></script>
</head>

<body style="background-color: rgb(33,33,33);color: rgb(255,255,255); display: none">
<script>
    $(function(){
        $("#header").load("shared/header.html",function() {
            $("#footer").load("shared/footer.html",function() {
                $('body').show();
            });
        });
    });
</script>
<div id="header"></div>
<div class="table-responsive table-borderless text-center" style="color: rgba(255,255,255,0);font-size: 16px;background-color: rgba(255,255,255,0);margin: 0px;padding: 0px;" ng-controller="budgetTable">
    <button class="btn btn-primary" ng-click="saveBudgets()" type="button" style="background-color: rgb(76,200,0);">
        Save Changes
    </button>
    <table class="table table-bordered table-sm">
        <thead>
        <tr>
            <th class="text-center">Budget</th>
            <th class="text-center" colspan="12">Month</th>
        </tr>
        <tr>
            <th class="text-center"></th>
            <th class="text-center">Jun</th>
            <th class="text-center">Jul</th>
            <th class="text-center">Aug</th>
            <th class="text-center">Sep</th>
            <th class="text-center">Oct</th>
            <th class="text-center">Nov</th>
            <th class="text-center">Dec</th>
            <th class="text-center">Jan</th>
            <th class="text-center">Feb</th>
            <th class="text-center">Mar</th>
            <th class="text-center">Apr</th>
            <th class="text-center">May</th>
        </tr>
        </thead>
        <tr ng-repeat="budget in budgets">
            <td><span contenteditable="false">{{budget.budgetName}}</span></td>
            <td><span contenteditable="true" ng-keyup="updateBudgetValue(budget2.budgetName,0,$event)">{{budget.months[0]}}</span></td>
            <td><span contenteditable="true" ng-keyup="updateBudgetValue(budget2.budgetName,1,$event)">{{budget.months[1]}}</span></td>
            <td><span contenteditable="true" ng-keyup="updateBudgetValue(budget2.budgetName,2,$event)">{{budget.months[2]}}</span></td>
            <td><span contenteditable="true" ng-keyup="updateBudgetValue(budget2.budgetName,3,$event)">{{budget.months[3]}}</span></td>
            <td><span contenteditable="true" ng-keyup="updateBudgetValue(budget2.budgetName,4,$event)">{{budget.months[4]}}</span></td>
            <td><span contenteditable="true" ng-keyup="updateBudgetValue(budget2.budgetName,5,$event)">{{budget.months[5]}}</span></td>
            <td><span contenteditable="true" ng-keyup="updateBudgetValue(budget2.budgetName,6,$event)">{{budget.months[6]}}</span></td>
            <td><span contenteditable="true" ng-keyup="updateBudgetValue(budget2.budgetName,7,$event)">{{budget.months[7]}}</span></td>
            <td><span contenteditable="true" ng-keyup="updateBudgetValue(budget2.budgetName,8,$event)">{{budget.months[8]}}</span></td>
            <td><span contenteditable="true" ng-keyup="updateBudgetValue(budget2.budgetName,9,$event)">{{budget.months[9]}}</span></td>
            <td><span contenteditable="true" ng-keyup="updateBudgetValue(budget2.budgetName,10,$event)">{{budget.months[10]}}</span></td>
            <td><span contenteditable="true" ng-keyup="updateBudgetValue(budget2.budgetName,11,$event)">{{budget.months[11]}}</span></td>
        </tr>
    </table>

</div>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>

<div id="footer"></div>

</body>

</html>