<!DOCTYPE html>
<html ng-app="limecashBudgets">

<title>Budget</title>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
<link rel="stylesheet" href="assets/fonts/ionicons.min.css">
<link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
<link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
<link rel="stylesheet" href="assets/css/Simple-Login-1.css">
<link rel="stylesheet" href="assets/css/Simple-Login.css">
<link rel="stylesheet" href="assets/css/styles.css">
<link rel="stylesheet" href="assets/css/untitled-1.css">
<link rel="stylesheet" href="assets/css/untitled-2.css">
<link rel="stylesheet" href="assets/css/untitled-3.css">
<link rel="stylesheet" href="assets/css/untitled.css">
<link rel="stylesheet" href="assets/css/budgetSheet.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="assets/angular/angularBudgetSheet.js"></script>
</head>

<body style="background-color: rgb(33,33,33);color: rgb(255,255,255); display: none">
<script>
    $(function(){
        $("#header").load("shared/header.html",function() {
            $("#footer").load("shared/footer.html",function() {
                $('body').show();
            });
        });
    });
</script>
<div id="header"></div>
<div class="table-responsive table-borderless text-center" style="height: 80vh;color: rgba(255,255,255,0);font-size: 16px;background-color: rgba(255,255,255,0);margin: 0px;padding: 0px;" ng-controller="budgetTable">
    <p style="color: white; font-weight: bolder; font-size: x-large">Budget Management</p>
    <button class="btn btn-primary" type="button" ng-click="addBudget()"
            style="background-color: rgb(0,162,45);height: 30px;width: 90px;font-size: 12px;">Add
    </button>
    <table class="table table-bordered table-sm">
        <thead>
        <tr>
            <th class="text-center">Budget</th>
            <th class="text-center" colspan="12">Month</th>
        </tr>
        <tr>
            <th class="text-center"></th>
            <th class="text-center"></th>
            <th class="text-center">Jun</th>
            <th class="text-center">Jul</th>
            <th class="text-center">Aug</th>
            <th class="text-center">Sep</th>
            <th class="text-center">Oct</th>
            <th class="text-center">Nov</th>
            <th class="text-center">Dec</th>
            <th class="text-center">Jan</th>
            <th class="text-center">Feb</th>
            <th class="text-center">Mar</th>
            <th class="text-center">Apr</th>
            <th class="text-center">May</th>
        </tr>
        </thead>
        <tr ng-repeat="i in range(0, budgets.length - 1)">
            <td><input class="name" type="text" ng-model="budgets[i].budgetName"></td>
            <td style="margin: 0px;" class="text-center"><i ng-click="deleteBudget(budgets[i].id)" class="fa fa-trash"></i></td>
            <td><input type="text" ng-model="budgets[i].months[0]"></td>
            <td><input type="text" ng-model="budgets[i].months[1]"></td>
            <td><input type="text" ng-model="budgets[i].months[2]"></td>
            <td><input type="text" ng-model="budgets[i].months[3]"></td>
            <td><input type="text" ng-model="budgets[i].months[4]"></td>
            <td><input type="text" ng-model="budgets[i].months[5]"></td>
            <td><input type="text" ng-model="budgets[i].months[6]"></td>
            <td><input type="text" ng-model="budgets[i].months[7]"></td>
            <td><input type="text" ng-model="budgets[i].months[8]"></td>
            <td><input type="text" ng-model="budgets[i].months[9]"></td>
            <td><input type="text" ng-model="budgets[i].months[10]"></td>
            <td><input type="text" ng-model="budgets[i].months[11]"></td>
        </tr>
    </table>
    <button class="btn btn-primary" type="button" ng-click="saveBudgets()"
            style="background-color: rgb(0,162,45);height: 60px;width: 90px;font-size: 12px;">Save Changes
    </button>
</div>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>

<div id="footer"></div>

</body>

</html>