<html ng-app="limecashMonth">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Budget Month</title>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="assets/angular/month.js"></script>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/untitled-1.css">
    <link rel="stylesheet" href="assets/css/untitled-2.css">
    <link rel="stylesheet" href="assets/css/untitled-3.css">
    <link rel="stylesheet" href="assets/css/untitled.css">
</head>

<body style="background-color: rgb(33,33,33);color: rgb(255,255,255);  display: none;">
<script>
    $(function () {
        $("#header").load("shared/header.html", function () {
            $("#footer").load("shared/footer.html", function () {
                $('body').show();
            });
        });
    });

</script>
<div id="header"></div>
<div class="table-responsive table-borderless text-center"
     style="color: rgba(255,255,255,0);font-size: 16px;background-color: rgba(255,255,255,0);margin: 0px;padding: 0px;"
     ng-controller="monthController">
    <p style="color: white; font-weight: bolder; font-size: x-large">{{month}}</p>
    <table class="table table-bordered table-sm">
        <thead>
        <tr>
            <th class="visible" style="padding: 12px;">
                <div class="table-responsive" style="margin: 0px;">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="text-center" colspan="4">Areas Breakdown:</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr style="color: rgba(0,128,255,0);">
                            <th class="text-center">Areas</th>
                            <th class="text-center">Budget</th>
                            <th class="text-center">Expenditure</th>
                            <th class="text-center">Remaining</th>
                        </tr>
                        <tr style="color: rgba(0,128,255,0);" ng-repeat="i in range(0,monthBudget.areas.length)">
                            <th class="text-center">{{monthBudget.areas[i]}}</th>
                            <th class="text-center">{{monthBudget.areaAllowance[i]}}</th>
                            <th class="text-center">{{monthBudget.monthlySpend[i]}}</th>
                            <th class="text-center">{{monthBudget.remaining[i]}}</th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr></tr>
        </tbody>
    </table>
</div>
<hr style="background-color: #0019ff;margin: 0px;height: 2px;">
<hr>
<div class="table-responsive table-borderless text-center"
     ng-controller="transMonthController"
     style="color: rgba(255,255,255,0);font-size: 16px;background-color: rgba(255,255,255,0);margin: 0px;padding: 0px;">
    <table class="table table-bordered table-sm">
        <thead>
        <tr>
            <th class="visible" style="padding: 12px;">
                <div class="table-responsive" style="margin: 0px;">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="text-center" colspan="7">Transactions:</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr style="color: rgba(0,128,255,0);">
                            <th class="text-center">ID</th>
                            <th class="text-center">Date</th>
                            <th class="text-center">Incoming?</th>
                            <th class="text-center">Item</th>
                            <th class="text-center">Price</th>
                            <th class="text-center">Quantity</th>
                            <th class="text-center">Total</th>
                            <th class="text-center">Area</th>
                        </tr>
                        <tr style="color: rgba(0,128,255,0);" ng-repeat="transaction in transactions">
                            <th class="text-center">{{transaction.id}}</th>
                            <th class="text-center">{{transaction.date.substring(0,10)}}</th>
                            <th class="text-center">{{transaction.incoming}}</th>
                            <th class="text-center">{{transaction.name}}</th>
                            <th class="text-center">{{transaction.value}}</th>
                            <th class="text-center">{{transaction.quantity}}</th>
                            <th class="text-center">{{transaction.value * transaction.quantity}}</th>
                            <th class="text-center">{{transaction.areaImpacted}}</th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr></tr>
        </tbody>
    </table>
</div>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<div id="footer"></div>
</body>

</html>